<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings>
  <add name="AccountEntities" connectionString="metadata=res://*/AccountModel.csdl|res://*/AccountModel.ssdl|res://*/AccountModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VQ1H2DO;initial catalog=Account;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="BankService.Service">
        <endpoint address="http://localhost:9999/BankService/ep" binding="wsHttpBinding"
          bindingConfiguration="" contract="BankService.IBankService" />
        <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/BankService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>