<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings>
  <add name="AccountEntities" connectionString="metadata=res://*/AccountModel.csdl|res://*/AccountModel.ssdl|res://*/AccountModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VQ1H2DO;initial catalog=Account;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>