<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/Calc/Ep" binding="wsHttpBinding"
                bindingConfiguration="" contract="Calculator.ICalc" name="CalcConfig" />
        </client>
    </system.serviceModel>
</configuration>